@import "../../../assets/styles/variables";

.control-panel-menu {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  min-width: 250px;
  padding: 10px 0;
  z-index: 90;
  background-color: $main-background;
  top: 120px;
  border-radius: 0 5px 5px 0;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  &-active {
    transform: translateX(100px);
  }
  &__list {
    min-width: 300px;
  }
  &__item {
    display: flex;
    color: $control-panel-description;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 2px solid rgba(#000, .10);
    svg {
      display: flex;
    }
    &-icon {
      padding-right: 10px;
    }
    &:first-child {
      cursor: text;
      color: $control-panel-description !important;
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: #fff;
      .control-panel-popup__item-icon {
        svg {
          path {
            fill: #fff;
          }
          g path {
            fill: #fff;
          }
        }
      }
    }
  }
}