@import "../../../assets/styles/variables";

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $main-background;
  width: 100%;
  height: 100vh;

  &-wrapper {
    border-radius: 9px 9px 7px 7px;
    width: 420px;
    background-color: $form-background;
    padding: 30px 50px 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &__label {
      color: $main-color;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 auto;
    }
  }
}