@import "../../../assets/styles/variables";

.message-panel-header {
  position: relative;
  display: flex;
  background-color: $form-background;
  width: 100%;
  height: 82px;
  padding: 10px 30px;

  &__channel-info {
    padding-right: 30px;
    min-width: 350px;
  }

  &__title {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-bottom: 0;
  }
}