$main-background: #16191c;
$form-background: #1E2126;
$main-color: #fff;
$description-color: #9F9DA3;
$background-button: #FF4460;
$background-button-hover: #a21f33;
$form-focus: #fff;

// Чат control-panel
$control-panel-background: #2C353F;
$control-panel-description: #9F9DA3;
$control-panel-active-color-border: #54D58C;

// Channel-panel
$channel-panel-item-active: #16191C;