@import "../../assets/styles/variables";

.channels-panel {
  background-color: $form-background;
  height: 100%;
  min-width: 330px;

  &__header {
    position: relative;
    padding: 20px 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: rgba(#000, .30);
      bottom: 0;
    }

    &::before {
      left: 0;
      width: 100%;
      height: 1px;
    }

    &::after {
      right: 0;
      height: 100%;
      width: 1px;
    }
  }

  &__heading {
    font-weight: 300;
    font-size: 28px;
    color: #E3EAEE;
    margin-bottom: 0;
  }

  &__list {
    padding-top: 35px;
  }
}