@import "../../assets/styles/variables";

.control-panel {
  position: relative;
  width: 100px;
  height: 100%;
  background-color: $main-background;
  padding: 15px 0;
  &__header {
    text-align: center;
  }
  &__avatar {
    padding: 60px 20px 0;
  }
  &__status { padding-top: 40px; }
}