@import "../../../assets/styles/variables";

.message-panel-content {
  margin-top: 10px;
  position: relative;
  display: flex;

  &-image {
    .message-panel-content__item {
      padding: 10px 0 0 0;
    }

    .message-panel-content__author {
      padding-left: 15px;
      padding-right: 25px;
    }

    .message-panel-content__message-img {
      cursor: pointer;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .message-panel-content__message-content {
      padding: 15px 50px 20px 15px;
    }
  }

  &__avatar {
    margin-top: auto;
    width: 32px;
    height: 32px;
  }

  &__img {
    width: 100%;
    border-radius: 50%;
  }

  &__item {
    position: relative;
    margin-left: 10px;
    padding: 10px 50px 23px 15px;
    background-color: $form-background;
    color: #fff;
    max-width: 40%;
    border-radius: 4px;
  }

  &__author {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 0;
  }

  &__message {
    padding-top: 5px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    word-wrap: break-word;

    &-content {
      margin-bottom: 0;
    }

    &-img {
      width: 100%;
    }
  }

  &__time {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-weight: 300;
    font-size: 12px;
    z-index: 5;
  }

  &-active {
    background-color: #065d95;
  }
}